// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;

// Header styles

.kl-header {
    background-color: $color-primary;   
}

.kl-logo {
    width: 6.875rem;
    background: #fff;
    height: auto;
    border-radius: 0.625rem;
    padding: 0.375rem;
}

.kl-navlink {
    color: $color-bg;
    font-weight: 500;
    font-size: 1.05rem;
}

.kl-navlink.active {
    text-decoration: underline;
    text-underline-offset: 0.375rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, .4);
}

.navbar-toggler-icon {
    filter: invert(1);
}