<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Activation de compte</title>
</head>

<body>
    <p>Bonjour,</p>
    <p>Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :</p>
    
    <p><a href="{{ signedUrl }}">Confirmer mon email</a></p>
    
    <p>Ce lien expirera bientôt.</p>
</body>

</html>