// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;

.kl-title {
    font-weight: 800;
    color: $color-text;
}