// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;

.kl-footer {
    background: $color-primary;
}

.kl-footer-logo {
    width: 5.625rem;
    height: auto;
    background: #fff;
    border-radius: 0.625rem;
    padding: 0.375rem;
}

.kl-footer-links a {
    color: $color-bg;
    text-decoration: none;
    line-height: 1.9;
}

.kl-footer-links a:hover {
    text-decoration: underline;
}

.img-link {
    color: $color-bg;
}