// Imports for styles.scss

@use "sass:color";


// Font import

@font-face {
    font-family: 'ComicSansMs';
    src:
        url('/assets/fonts/Comic-Sans-MS.woff') format('woff'),
        url('/assets/fonts/Comic-Sans-MS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;

// Global styles

html {
    font-size: 100%;
    line-height: $line-height-base;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'ComicSansMs', sans-serif;
    color: $color-text;
    background-color: $color-bg;
}

.app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.kl-main {
    flex: 1;
}

section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
}

// Typography scale

h1 {
    font-size: 2.188 rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

// Link styles

a {
    color: $color-text;
    text-decoration: none;

    &:hover,
    &:focus {
        color: color.adjust($color-primary, $lightness: -10%);
        text-decoration: underline;
    }
}