// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #f1f8fc;
$color-primary: #0074c7;
$color-secondary: #00497c;
$color-text: #384050;
$color-warning: #cd2c2e;
$color-success: #82b864;

.kl-title {
    font-weight: 800;
    color: $color-text;
}

.bo-card {
    background: rgba($color-primary, 0.70);
    border: 0.125rem solid $color-secondary;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 1.125rem rgba(0, 0, 0, .10);
    overflow: hidden;
}

.bo-card-title {
    margin: 0;
    font-weight: 800;
    color: #2b2f33;
    font-size: 1.6rem;
}

.bo-card-list { 
    font-size: 1.1rem;
    color: $color-bg;
    line-height: 1.6;
}

.bo-btn-access {
    margin-top: 0.5rem;
    align-self: flex-start;
    background: $color-text;
    color: $color-bg;
    border-radius: 0.625rem;
    padding: 0.625rem 1.625rem;
    font-weight: 700;
    border: none;
}

.bo-btn-access:hover {
    background: #1f2937;
}