<section class="container py-4 py-lg-5">
    <h1 class="kl-title mb-3">Back-Office</h1>
    <div class="row justify-content-evenly py-5 ">
        <!-- User card -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bo-card h-100 p-4">
                <h2 class="bo-card-title text-center mb-4">Gestion des Utilisateurs</h2>
                <ul class="bo-card-list px-5">
                    <li>Consulter la liste des utilisateurs</li>
                    <li>Créer un nouvel utilisateur</li>
                    <li>Modifier un utilisateur</li>
                    <li>Supprimer un utilisateur</li>
                </ul>
                <div class="bo-card-actions text-center mt-4">
                    <a routerLink="/admin/users" class="btn bo-btn-access">Accéder</a>
                </div>
            </div>
        </div>
        <!-- Cursus card -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bo-card h-100 p-4">
                <h2 class="bo-card-title text-center mb-4">Gestion du contenu</h2>
                <ul class="bo-card-list px-5">
                    <li>Consulter la liste des leçons</li>
                    <li>Créer une nouvelle leçon</li>
                    <li>Modifier une leçon</li>
                    <li>Supprimer une leçon</li>
                </ul>
                <div class="bo-card-actions text-center mt-4">
                    <a routerLink="/admin/lessons" class="btn bo-btn-access">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</section>